
div#header {
  position: absolute;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 12px;
  left: 0px;
  right: 0px;
  width: 1050px;
  border-top: 3px solid #ffd100;
  border-bottom: 3px solid #ffd100;
}

#title {
  width: 237px;
  height: 70px;
}

div#logo {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 5px 70px;
  background-color: #dfdfdf;
}

div#nav {
  position: absolute;
  height: 47px;
  width: 534.05px;
  bottom: 0px;
  right: 70px;
  background-color: black;
}



ul#menu {
  position: absolute;
  height: 47px;
  width: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
ul#menu li {
  display: inline;
  font-weight: bold;
  text-align: center;
  padding-top: 14px;
}
ul#menu li:last-child {
  border-right: none;
  margin: 0;
}
ul#menu li a {
  padding: 16px 16px;
  width: auto;
  color: white;
  text-decoration: none;
}
ul#menu a:hover:not(.active) {
  color: black;
  background-color: #ffd100;
}
ul#menu .active {
  background-color: #ffd100;
}



div#search {
  position: absolute;
  top: 11px;
  right: 70px;
}
#tfnewsearch{
  float:right;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-size:14px;
  border: 1px solid #d3d3d3;
  border-right: 0px;

}

.tfbutton {
  margin: 0;
  padding: 5px 15px;
  font-size:14px;
  border-left: 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  border: solid 1px #d3d3d3;
  background: #ffd100;
}
.tfbutton:hover {
  text-decoration: none;
}
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
  clear:both;
}


/*----------------------404------------------------------*/
#pic404{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 404px;
}
