@import url('https://fonts.googleapis.com/css?family=Roboto');

@media only screen and (max-width: 960px){
  img{
    max-width: 100%;
  }
}

/*-----------header-----------------*/

* {font-size: 16px;}

html{
  height: 100%;
}
body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  height: 100%;
}

p{
  font-size: 100%;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 1em;
}

h1{
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

li{
  margin-bottom: .25em;
}


div#header {
  position: absolute;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 12px;
  left: 0px;
  right: 0px;
  width: 1050px;
  border-top: 3px solid #ffd100;
  border-bottom: 3px solid #ffd100;
}

#title {
  width: 237px;
  height: 70px;
}

div#logo {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 5px 70px;
  background-color: #dfdfdf;
}

div#nav {
  position: absolute;
  height: 47px;
  width: 534.05px;
  bottom: 0px;
  right: 70px;
  background-color: black;
}

ul#menu {
  position: absolute;
  height: 47px;
  width: 534.05px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
ul#menu li {
  float: left;
  margin: 0;
}
ul#menu li:last-child {
  border-right: none;
  margin: 0;
}
ul#menu li a {
  display: block;
  margin: auto;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



ul#menu a:hover:not(.active) {
  color: black;
  background-color: #ffd100;

}
ul#menu .active {
  background-color: #ffd100;
}

div#search {
  position: absolute;
  top: 11px;
  right: 70px;
}
#tfnewsearch{
  float:right;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-size:14px;
  border: 1px solid #d3d3d3;
  border-right: 0px;

}

.tfbutton {
  margin: 0;
  padding: 5px 15px;
  font-size:14px;
  border-left: 0px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  border: solid 1px #d3d3d3;
  background: #ffd100;
}
.tfbutton:hover {
  text-decoration: none;
}
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
  clear:both;
}

#me{
  padding-right: 0em;
  padding-left: .75em;
  padding-top: 0em;
  padding-bottom: .75em;
  float: right;

  width: 9em;
  height: auto;
}

.pictype1 {
  float: right;
  padding: 0px 0px 15px 15px;
}
.homepics{
  height: 140px;
  width: 156px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.homenav{
  height: auto;
  width: auto;
  margin-bottom: 1.5em;
}

.row{
  flex: 5;
  display: flex;
  flex-direction: row;
}

.square{
  flex: 4;
  display: flex;
  text-align: center;
  justify-content: center;
}

a{
  color: #ffc300;
  text-decoration: none;
}
a:visited{
  color: #ffc300;
}
a:hover{
  color: red;
}
a:active{
  color: red;
}

#menucircuits a{
  font-size: 150%;
}


/*-----------Page-----------*/
#wrap{
  padding-left: 10px;
  min-height: 100%;
  margin: auto;
  width: 900px;
  font-family: 'Roboto', sans-serif;
}

div#page {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: justify;
  overflow:auto;
  padding-top: 125px;
	padding-bottom: 50px;
}


/*-----------footer-----------------*/
#footer {
  position: relative;
  background-color: white;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear: both;
  color: gray;
}
.footernav{
  height: auto;
  width: auto;
  text-align: center;
  font-size: 80%;
  padding-top: 1.5em;
}
.footlink{
  font-size: 100%;
  margin: 0;
  color: gray;
  text-decoration: none;
}
.footlink:visited{
  color: gray
}
.footlink:hover{
  color: #ffc300;
}
.footlink:active{
  color: #ffc300;
}
/*----------------------------------------------------------*/

#pic404{
  display: block;
  margin-left: auto;
  margin-right:auto;
  height: 404px;
}
