@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  height: 100%;
}
body{
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    line-height: 1.2em;
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#title{
    width: 360px;
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}

#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    width: auto;
}
#menu a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    padding: 4px 0;
    font-weight: bold;
}
#menu .active{
    background-color: #ffd100;
    color: black;
}
#menu li:last-child{
    display: none;
}

#wrap{
  min-height: 100%;
  border: 1px solid black;
}

#page {
  border: 1px solid black;
  padding-bottom: 50px;
}

#footer {
  position: relative;
  background-color: white;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear: both;
  color: gray;
}
.footernav{
  height: auto;
  width: auto;
  text-align: center;
  font-size: 80%;
}
.footlink{
  font-size: 100%;
  margin: 0;
  color: gray;
  text-decoration: none;
}
.footlink:visited{
  color: gray
}
.footlink:hover{
  color: #ffc300;
}
.footlink:active{
  color: #ffc300;
}



@media only screen and (min-width: 1000px) {
    body {
        background-color: lightblue;
    }
    img{
      width: 300px;
    }
    #menu li:last-child{
        display: block;
    }
}
