@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  height: 100%;
}
body{
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    line-height: 1.2em;
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#title{
    width: 360px;
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;
}

#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    width: auto;
}
#menu a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    padding: 1px;
}
#menu .active{
    background-color: #ffd100;
    color: black;
}


@media only screen and (min-width: 1000px) {
    body {
        background-color: lightblue;
    }
    img{
      width: 300px;
    }
}
